body {
  background-color: rgb(234, 219, 200);
}

h1 {
  color: aliceblue;
}

.box {
  padding-bottom: 10%;
  background-color: rgb(16, 44, 87);
  text-align: center;
  margin: 0 auto;
  width: 30%;
}

ul {
  list-style-type: none;
  margin: 0;
}

li {
  margin: 5px;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
}
