body {
  background-color: rgb(234, 219, 200);
}

h1 {
  color: aliceblue;
}

.box {
  border-radius: 10px;
  padding-bottom: 10%;
  background-color: rgb(16, 44, 87);
  text-align: center;
  margin: 0 auto;
  width: 40%;
}

ul {
  list-style-type: none;
  margin: 0;
}

li {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  border-radius: 2px;
  margin: 1px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
}

.deleteTask {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 1px;
  font-size: 17px;
  color: black;
  background-color: red;
  padding: 5px 10px;
}

.checkTask {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  color: black;
  background-color: green;
}
